
body {
  margin: 0 0;
  padding: 0 auto;
  color: #0066cc;
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 142px;
  background: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 110px;
  background: white;
}

.logo {
  width: 300px;
  position: fixed;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
}

.background {
  opacity: .45;
  position: relative;
  top: -170px;
  max-height: 930px;
}

.sign-in {
  cursor: pointer;
  text-align: center;
  padding: 3px;
  border: 2px solid #0066cc;
  border-radius: 50px;
  position: fixed;
  right: 10%;
  top: 15px;
  height: 36px;
  width: 36px;
}

.sign-in a {
  text-decoration: none;
}

.sign-in:hover {
  box-shadow: inset 0 0 1px  gray, gray 0 0 1px;
  text-shadow: 0px 0px 0px black;
}

.lines-top {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 85px;
}

.lines-bottom {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 55px;
  z-index: 10;
}

.line-zero {
  background-color: #0066cc;
  margin: 0 0 12px;
  height: 3px;
  opacity: 1;
}

.line-one {
  background-color: #0066cc;
  margin: 0 0 10px;
  height: 2px;
  opacity: .8;
}

.line-two {
  background-color: #0066cc;
  margin: 0 0 8px;
  height: 2px;
  opacity: .65;
}

.line-three {
  background-color: #0066cc;
  margin: 0 0 6px;
  height: 1px;
  opacity: .5;
}

.line-four {
  background-color: #0066cc;
  margin: 0 0 3px;
  height: 1px;
  opacity: .3;
}

.line-five {
  background-color: #0066cc;
  margin: 0 0 2px;
  height: 1px;
  opacity: .2;
}

.line-six {
  background-color: #0066cc;
  margin: 0 0 1px;
  height: 1px;
  opacity: .1;
}

.footer {
  position: fixed;
  bottom: 0px;
}

.tag-line {
  text-align: center;
  font-style: italic;
  font-weight: 100;
  font-size: 2em;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.i-am {
  top: 40%;
  left: 50%;
  font-weight: 600;
  font-size: 3em;
  transform: translate(-50%, -50%);
  position: fixed;
  text-shadow: 1px 1px 2px gray;
}

.button {
  cursor: pointer;
  font-weight: 200;
  font-size: 2em;
  background: transparent;
  position: fixed;
  border: 1px solid #0066cc;
  border-radius: 10px;
  padding: 10px 30px;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px gray;
  box-shadow: inset 0 0 1px  gray, gray 0 0 1px;
}

.button:hover {
  box-shadow: inset 0 0 1px  black, black 0 0 1px;
  text-shadow: 1px 1px 1px black;
}

.user-button {
  top: 56%;
  left: 50%;
}

.org-button {
  top: 65%;
  left: 50%;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.animate-container {
  background:transparent;
  list-style:none;
  margin:0;
  padding:0 10px;
}

.animate-repeat {
  line-height:40px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.results {
  position: fixed;
  height: 400px;
  top: 40%;
  left: 50%;
  overflow: scroll;
  transform: translate(-50%, -50%);
}